$tileWidth: 70px;
$tilePadding: 1px;
$boardPadding: 5px;
$shadow: 4px 2px 6px #333;

.board {
  width: ($tileWidth * 8) + ($tilePadding * 8) + $boardPadding;
  height: ($tileWidth * 8) + ($tilePadding * 8) + $boardPadding;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: $boardPadding;
  box-shadow: $shadow;
}

.tile {
  height: $tileWidth - ($tilePadding * 2);
  width: $tileWidth - ($tilePadding * 2);
  margin: $tilePadding;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter {
  width: 85%;
  height: 85%;
  border-radius: 500px;
  display: none;
  box-shadow: $shadow;
}

.black {
  background-color: black;
  display: block;
}

.white {
  background-color: white;
  display: block;
}
